<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wbudyapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".levels.BossLevel"
            android:label="@string/title_activity_boss_level"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".functions.TimeHandler" />
        <activity android:name=".mainMenu.TestLevels" />
        <activity android:name=".mainMenu.ShakeActivity" />
        <activity android:name=".GpsActivity" />
        <activity android:name=".mainMenu.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".levels.FirstLevel" />
        <activity android:name=".levels.SecondLevel" />
        <activity android:name=".levels.ThirdLevel" />
        <activity android:name=".mainMenu.LevelActivity" />
    </application>

</manifest>